[report]
omit =
    doc/*
    tex/*
    old/*
    plots/*
    temp/*
    dessn/tests/*
    dessn/chain/examples/*
    dessn/utility/*
    dessn/entry/*
    dessn/examples/*
    dessn/proofs/*
    dessn/models/*
    **/test*.py
    *__init__*

exclude_lines =
    pragma: no cover
    raise NotImplementedError
    raise ImportError
    def __len__