**/build
**/*.egg-info/**
**/.cache/**
**/temp/**
.idea/*
**/doc/out/doctrees/**
**/doc/out/latex/**
*.npy
*.aux
*.bbl
*log
*.out
*.spl
*.synctex.gz
*.ilg
*.idx
*.toc
*.ist
*.cls
*.sty
*.q
.coverage
htmlcov/**
*.pyc
**/__pycache__/*
*.pkl